{
  "openapi": "3.0.1",
  "info": {
    "title": "Generic API",
    "description": "APIs that power the map, navigation, hierarchy, area relations, announcements, logs, syndication feeds, and metrics documentation.",
    "version": "1.0",
    "contact": {
      "name": "UK Coronavirus Dashboard",
      "url": "https://coronavirus.data.gov.uk/",
      "email": "coronavirus-tracker@phe.gov.uk"
    },
    "license": {
      "name": "Open Government Licence v3.0.",
      "url": "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
    }
  },
  "servers": [
    {
      "url": "https://api.coronavirus.data.gov.uk/generic",
      "description": "Generic API - Primary"
    }
  ],
  "paths": {
    "/healthcheck": {
      "get": {
        "summary": "Health check",
        "description": "Depending on service needs, checks resource connections and server health.",
        "operationId": "healthcheck-get",
        "responses": {
          "200": {
            "description": "OK - healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/healthcheck"
                },
                "examples": {
                  "Successful health check": {
                    "value": "{\"status\": \"OK\"}"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error - unhealthy"
          }
        }
      }
    },
    "/code/{area_type}/{area_code}": {
      "get": {
        "summary": "Code",
        "description": "Given an area type / area code combination, produces the names, codes, and centroids for the ancestors of the area - i.e. larger, more general areas of which the requested area is a member.",
        "operationId": "code-get",
        "parameters": [
          {
            "name": "area_type",
            "in": "path",
            "description": "Type of the area whose ancestors are being requested.",
            "required": true,
            "schema": {
              "enum": [
                "nation",
                "region",
                "utla",
                "ltla",
                "msoa",
                "postcode",
                "nhsRegion",
                "nhsTrust"
              ],
              "type": "string",
              "default": "postcode"
            }
          },
          {
            "name": "area_code",
            "in": "path",
            "description": "Code of the area whose ancestors are being requested.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Accept-Encoding",
            "in": "header",
            "schema": {
              "enum": [
                "deflate",
                "gzip",
                "br"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns ancestors of the area code.",
            "headers": {
              "content-type": {
                "required": true,
                "schema": {
                  "enum": [
                    "application/vnd.PHE-COVID19.v1+json; charset=utf-8"
                  ],
                  "type": "string"
                }
              },
              "server": {
                "required": true,
                "description": "Server application name and version.",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "required": true,
                "description": "",
                "schema": {
                  "type": "string"
                }
              },
              "x-frame-options": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-content-type-options": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-xss-protection": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "referrer-policy": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "content-security-policy": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-phe-media-type": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "phe-server-loc": {
                "required": false,
                "description": "Identifier for the specific server responding to the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Request-Context": {
                "required": true,
                "description": "Correlation ID of the request.",
                "schema": {
                  "type": "string"
                }
              },
              "phe-website-request": {
                "required": true,
                "description": "Identifier to determine whether the request originates from the website.",
                "schema": {
                  "type": "number"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/code"
                },
                "example": {
                  "ltla": "E09000033",
                  "ltlaCentroid": [
                    -0.157209256,
                    51.514010951
                  ],
                  "ltlaName": "Westminster",
                  "msoa": "E02000979",
                  "msoaCentroid": [
                    -0.133169461,
                    51.49905812
                  ],
                  "msoaName": "Central Westminster",
                  "nation": "E92000001",
                  "nationCentroid": [
                    -1.463684694,
                    52.592370945
                  ],
                  "nationName": "England",
                  "nhsRegion": "E40000003",
                  "nhsRegionCentroid": [],
                  "nhsRegionName": "London",
                  "nhsTrust": "RJ1",
                  "nhsTrustCentroid": [],
                  "nhsTrustName": "Guy's and St Thomas' NHS Foundation Trust",
                  "postcode": "SW1A 0AA",
                  "region": "E12000007",
                  "regionCentroid": [
                    -0.110578143,
                    51.500891693
                  ],
                  "regionName": "London",
                  "trimmedPostcode": "SW1A0AA",
                  "utla": "E09000033",
                  "utlaCentroid": [
                    -0.160411474,
                    51.513701283
                  ],
                  "utlaName": "Westminster"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Reason provided in response body where possible."
          },
          "404": {
            "description": "Not found. Likely due to an invalid area type and / or area code."
          },
          "429": {
            "description": "Too many requests - request has been throttled.",
            "headers": {
              "retry-after": {
                "description": "Time in seconds to wait before resubmitting the request.",
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/soa/{area_type}/{area_code}/{metric}": {
      "get": {
        "summary": "SOA",
        "description": "Given an area type / area code combination, produces the latest available record for a Super Output Area (SOA).",
        "operationId": "soa",
        "parameters": [
          {
            "name": "area_type",
            "in": "path",
            "description": "Type of the area for which the latest data is requested.",
            "required": true,
            "schema": {
              "enum": [
                "nation",
                "region",
                "utla",
                "ltla",
                "msoa",
                "nhsRegion",
                "nhsTrust"
              ],
              "type": "string",
              "example": "msoa"
            }
          },
          {
            "name": "area_code",
            "in": "path",
            "description": "Code of the area for which the latest data is requested.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "E02004402"
            }
          },
          {
            "name": "metric",
            "in": "path",
            "description": "Name of the metric for which the latest data is requested. Consult the 'Download Data' section of the site for available metrics.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "newCasesBySpecimenDate"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Record date. If not defined, the latest available record will be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Accept-Encoding",
            "in": "header",
            "schema": {
              "enum": [
                "deflate",
                "gzip",
                "br"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the latest available record for the given Super Output Area (SOA).",
            "headers": {
              "content-type": {
                "required": true,
                "schema": {
                  "enum": [
                    "application/vnd.PHE-COVID19.v1+json; charset=utf-8"
                  ],
                  "type": "string"
                }
              },
              "server": {
                "required": true,
                "description": "Server application name and version.",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "required": true,
                "description": "",
                "schema": {
                  "type": "string"
                }
              },
              "x-frame-options": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-content-type-options": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-xss-protection": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "referrer-policy": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "content-security-policy": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-phe-media-type": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "phe-server-loc": {
                "required": false,
                "description": "Identifier for the specific server responding to the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Request-Context": {
                "required": true,
                "description": "Correlation ID of the request.",
                "schema": {
                  "type": "string"
                }
              },
              "phe-website-request": {
                "required": true,
                "description": "Identifier to determine whether the request originates from the website.",
                "schema": {
                  "type": "number"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/soa"
                },
                "examples": {
                  "Latest response for newCasesBySpecimenDate in E02004402": {
                    "value": "{\n  \"areaCode\": \"E02004402\",\n  \"areaName\": \"Bexhill Central\",\n  \"areaType\": \"msoa\",\n  \"date\": \"2021-08-11\",\n  \"metric\": \"newCasesBySpecimenDate\",\n  \"payload\": {\n    \"change\": -2,\n    \"changePercentage\": -14.3,\n    \"direction\": \"DOWN\",\n    \"rollingRate\": 124.5,\n    \"rollingSum\": 12\n  }\n}"
                  }
                }
              }
            }
          },
          "204": {
            "description": "Undocumented. Likely that the data doesn't exist for the selected area type and metric combination."
          },
          "400": {
            "description": "Bad request. Reason provided in response body where possible."
          },
          "404": {
            "description": "Not found. Likely due to an invalid area type and / or area code."
          },
          "429": {
            "description": "Too many requests - request has been throttled.",
            "headers": {
              "retry-after": {
                "description": "Time in seconds to wait before resubmitting the request.",
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/area/{area_type}": {
      "get": {
        "summary": "Area",
        "description": "Provides an array of areas of an area type.",
        "operationId": "area-get",
        "parameters": [
          {
            "name": "area_type",
            "in": "path",
            "description": "Type of the area whose children are being requested.",
            "required": true,
            "schema": {
              "enum": [
                "nation",
                "region",
                "utla",
                "ltla",
                "msoa",
                "nhsRegion",
                "nhsTrust"
              ],
              "type": "string",
              "default": "msoa"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Accept-Encoding",
            "in": "header",
            "schema": {
              "enum": [
                "deflate",
                "gzip",
                "br"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all areas for the given area type",
            "headers": {
              "content-type": {
                "required": true,
                "schema": {
                  "enum": [
                    "application/vnd.PHE-COVID19.v1+json; charset=utf-8"
                  ],
                  "type": "string"
                }
              },
              "server": {
                "required": true,
                "description": "Server application name and version.",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "required": true,
                "description": "",
                "schema": {
                  "type": "string"
                }
              },
              "x-frame-options": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-content-type-options": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-xss-protection": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "referrer-policy": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "content-security-policy": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-phe-media-type": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "phe-server-loc": {
                "required": false,
                "description": "Identifier for the specific server responding to the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Request-Context": {
                "required": true,
                "description": "Correlation ID of the request.",
                "schema": {
                  "type": "string"
                }
              },
              "phe-website-request": {
                "required": true,
                "description": "Identifier to determine whether the request originates from the website.",
                "schema": {
                  "type": "number"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/area"
                },
                "example": [
                  {
                    "areaCode": "E92000001",
                    "areaName": "England"
                  },
                  {
                    "areaCode": "N92000002",
                    "areaName": "Northern Ireland"
                  },
                  {
                    "areaCode": "S92000003",
                    "areaName": "Scotland"
                  },
                  {
                    "areaCode": "W92000004",
                    "areaName": "Wales"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad request. Reason provided in response body where possible."
          },
          "404": {
            "description": "Not found. Likely due to an invalid area type."
          },
          "429": {
            "description": "Too many requests - request has been throttled.",
            "headers": {
              "retry-after": {
                "description": "Time in seconds to wait before resubmitting the request.",
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/area/{area_type}/area_name/{area_name}": {
      "get": {
        "summary": "Code by area name",
        "description": "Get area code from specified area name and type",
        "operationId": "area-code-get",
        "parameters": [
          {
            "name": "area_type",
            "in": "path",
            "description": "Type of the area of the specified area name.",
            "required": true,
            "schema": {
              "enum": [
                "nation",
                "region",
                "utla",
                "ltla",
                "msoa"
              ],
              "type": "string"
            }
          },
          {
            "name": "area_name",
            "in": "path",
            "description": "The area name to search by",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the area type, name and code",
            "headers": {
              "content-type": {
                "required": true,
                "schema": {
                  "enum": [
                    "application/vnd.PHE-COVID19.v1+json; charset=utf-8"
                  ],
                  "type": "string"
                }
              },
              "server": {
                "required": true,
                "description": "Server application name and version.",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "required": true,
                "description": "",
                "schema": {
                  "type": "string"
                }
              },
              "x-frame-options": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-content-type-options": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-xss-protection": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "referrer-policy": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "content-security-policy": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-phe-media-type": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "phe-server-loc": {
                "required": false,
                "description": "Identifier for the specific server responding to the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Request-Context": {
                "required": true,
                "description": "Correlation ID of the request.",
                "schema": {
                  "type": "string"
                }
              },
              "phe-website-request": {
                "required": true,
                "description": "Identifier to determine whether the request originates from the website.",
                "schema": {
                  "type": "number"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/area-name"
                },
                "examples": {
                  "example response of area code for england": {
                    "value": "{\"areaCode\":\"E92000001\",\"areaName\":\"England\",\"areaType\":\"nation\"}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Reason provided in response body where possible."
          },
          "404": {
            "description": "Not found. Likely due to an invalid area type and / or area name."
          },
          "429": {
            "description": "Too many requests - request has been throttled.",
            "headers": {
              "retry-after": {
                "description": "Time in seconds to wait before resubmitting the request.",
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/page_areas/{page}": {
      "get": {
        "summary": "Page areas",
        "description": "Given a category (website page), returns all available areas.",
        "operationId": "page-areas-get",
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "description": "Category of the page whose areas are being requested.",
            "required": true,
            "schema": {
              "enum": [
                "cases",
                "testing",
                "deaths",
                "vaccinations",
                "healthcare"
              ],
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Accept-Encoding",
            "in": "header",
            "schema": {
              "enum": [
                "deflate",
                "gzip",
                "br"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the areas for the specified category (page).",
            "headers": {
              "content-type": {
                "required": true,
                "schema": {
                  "enum": [
                    "application/vnd.PHE-COVID19.v1+json; charset=utf-8"
                  ],
                  "type": "string"
                }
              },
              "server": {
                "required": true,
                "description": "Server application name and version.",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "required": true,
                "description": "",
                "schema": {
                  "type": "string"
                }
              },
              "x-frame-options": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-content-type-options": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-xss-protection": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "referrer-policy": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "content-security-policy": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-phe-media-type": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "phe-server-loc": {
                "required": false,
                "description": "Identifier for the specific server responding to the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Request-Context": {
                "required": true,
                "description": "Correlation ID of the request.",
                "schema": {
                  "type": "string"
                }
              },
              "phe-website-request": {
                "required": true,
                "description": "Identifier to determine whether the request originates from the website.",
                "schema": {
                  "type": "number"
                }
              }
            },
            "content": {
              "application/json": {
                "examples": {
                  "Cases page response": {
                    "value": "[\n  {\n    \"areaCode\": \"S12000033\",\n    \"areaName\": \"Aberdeen City\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000034\",\n    \"areaName\": \"Aberdeenshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000223\",\n    \"areaName\": \"Adur\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000026\",\n    \"areaName\": \"Allerdale\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000032\",\n    \"areaName\": \"Amber Valley\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000041\",\n    \"areaName\": \"Angus\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"N09000001\",\n    \"areaName\": \"Antrim and Newtownabbey\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"N09000011\",\n    \"areaName\": \"Ards and North Down\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000035\",\n    \"areaName\": \"Argyll and Bute\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"N09000002\",\n    \"areaName\": \"Armagh City, Banbridge and Craigavon\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000224\",\n    \"areaName\": \"Arun\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000170\",\n    \"areaName\": \"Ashfield\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000105\",\n    \"areaName\": \"Ashford\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000004\",\n    \"areaName\": \"Aylesbury Vale\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000200\",\n    \"areaName\": \"Babergh\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000002\",\n    \"areaName\": \"Barking and Dagenham\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000003\",\n    \"areaName\": \"Barnet\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000016\",\n    \"areaName\": \"Barnsley\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000027\",\n    \"areaName\": \"Barrow-in-Furness\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000066\",\n    \"areaName\": \"Basildon\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000084\",\n    \"areaName\": \"Basingstoke and Deane\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000171\",\n    \"areaName\": \"Bassetlaw\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000022\",\n    \"areaName\": \"Bath and North East Somerset\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000055\",\n    \"areaName\": \"Bedford\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"N09000003\",\n    \"areaName\": \"Belfast\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000004\",\n    \"areaName\": \"Bexley\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000025\",\n    \"areaName\": \"Birmingham\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000129\",\n    \"areaName\": \"Blaby\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000008\",\n    \"areaName\": \"Blackburn with Darwen\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000009\",\n    \"areaName\": \"Blackpool\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000019\",\n    \"areaName\": \"Blaenau Gwent\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000033\",\n    \"areaName\": \"Bolsover\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000001\",\n    \"areaName\": \"Bolton\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000136\",\n    \"areaName\": \"Boston\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000058\",\n    \"areaName\": \"Bournemouth, Christchurch and Poole\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000036\",\n    \"areaName\": \"Bracknell Forest\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000032\",\n    \"areaName\": \"Bradford\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000067\",\n    \"areaName\": \"Braintree\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000143\",\n    \"areaName\": \"Breckland\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000005\",\n    \"areaName\": \"Brent\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000068\",\n    \"areaName\": \"Brentwood\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000013\",\n    \"areaName\": \"Bridgend\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000043\",\n    \"areaName\": \"Brighton and Hove\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000023\",\n    \"areaName\": \"Bristol, City of\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000144\",\n    \"areaName\": \"Broadland\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000006\",\n    \"areaName\": \"Bromley\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000234\",\n    \"areaName\": \"Bromsgrove\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000095\",\n    \"areaName\": \"Broxbourne\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000172\",\n    \"areaName\": \"Broxtowe\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000002\",\n    \"areaName\": \"Buckinghamshire\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000117\",\n    \"areaName\": \"Burnley\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000002\",\n    \"areaName\": \"Bury\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000018\",\n    \"areaName\": \"Caerphilly\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000033\",\n    \"areaName\": \"Calderdale\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000008\",\n    \"areaName\": \"Cambridge\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000003\",\n    \"areaName\": \"Cambridgeshire\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E09000007\",\n    \"areaName\": \"Camden\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000192\",\n    \"areaName\": \"Cannock Chase\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000106\",\n    \"areaName\": \"Canterbury\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000015\",\n    \"areaName\": \"Cardiff\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000028\",\n    \"areaName\": \"Carlisle\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000010\",\n    \"areaName\": \"Carmarthenshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000069\",\n    \"areaName\": \"Castle Point\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"N09000004\",\n    \"areaName\": \"Causeway Coast and Glens\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000056\",\n    \"areaName\": \"Central Bedfordshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000008\",\n    \"areaName\": \"Ceredigion\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000130\",\n    \"areaName\": \"Charnwood\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000070\",\n    \"areaName\": \"Chelmsford\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000078\",\n    \"areaName\": \"Cheltenham\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000177\",\n    \"areaName\": \"Cherwell\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000049\",\n    \"areaName\": \"Cheshire East\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000050\",\n    \"areaName\": \"Cheshire West and Chester\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000034\",\n    \"areaName\": \"Chesterfield\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000225\",\n    \"areaName\": \"Chichester\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000005\",\n    \"areaName\": \"Chiltern\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000118\",\n    \"areaName\": \"Chorley\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000036\",\n    \"areaName\": \"City of Edinburgh\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000001\",\n    \"areaName\": \"City of London\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000005\",\n    \"areaName\": \"Clackmannanshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000071\",\n    \"areaName\": \"Colchester\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000013\",\n    \"areaName\": \"Comhairle nan Eilean Siar\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000003\",\n    \"areaName\": \"Conwy\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000029\",\n    \"areaName\": \"Copeland\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000150\",\n    \"areaName\": \"Corby\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000052\",\n    \"areaName\": \"Cornwall and Isles of Scilly\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000079\",\n    \"areaName\": \"Cotswold\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000047\",\n    \"areaName\": \"County Durham\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000026\",\n    \"areaName\": \"Coventry\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000163\",\n    \"areaName\": \"Craven\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000226\",\n    \"areaName\": \"Crawley\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000008\",\n    \"areaName\": \"Croydon\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000006\",\n    \"areaName\": \"Cumbria\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000096\",\n    \"areaName\": \"Dacorum\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000005\",\n    \"areaName\": \"Darlington\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000107\",\n    \"areaName\": \"Dartford\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000151\",\n    \"areaName\": \"Daventry\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000004\",\n    \"areaName\": \"Denbighshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000015\",\n    \"areaName\": \"Derby\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000007\",\n    \"areaName\": \"Derbyshire\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000035\",\n    \"areaName\": \"Derbyshire Dales\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"N09000005\",\n    \"areaName\": \"Derry City and Strabane\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000008\",\n    \"areaName\": \"Devon\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E08000017\",\n    \"areaName\": \"Doncaster\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000059\",\n    \"areaName\": \"Dorset\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000108\",\n    \"areaName\": \"Dover\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000027\",\n    \"areaName\": \"Dudley\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000006\",\n    \"areaName\": \"Dumfries and Galloway\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000042\",\n    \"areaName\": \"Dundee City\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000009\",\n    \"areaName\": \"Ealing\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000008\",\n    \"areaName\": \"East Ayrshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000061\",\n    \"areaName\": \"Eastbourne\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000009\",\n    \"areaName\": \"East Cambridgeshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000040\",\n    \"areaName\": \"East Devon\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000045\",\n    \"areaName\": \"East Dunbartonshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000085\",\n    \"areaName\": \"East Hampshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000242\",\n    \"areaName\": \"East Hertfordshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000086\",\n    \"areaName\": \"Eastleigh\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000137\",\n    \"areaName\": \"East Lindsey\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000010\",\n    \"areaName\": \"East Lothian\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E12000004\",\n    \"areaName\": \"East Midlands\",\n    \"areaType\": \"region\"\n  },\n  {\n    \"areaCode\": \"E07000152\",\n    \"areaName\": \"East Northamptonshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E12000006\",\n    \"areaName\": \"East of England\",\n    \"areaType\": \"region\"\n  },\n  {\n    \"areaCode\": \"S12000011\",\n    \"areaName\": \"East Renfrewshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000011\",\n    \"areaName\": \"East Riding of Yorkshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000193\",\n    \"areaName\": \"East Staffordshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000244\",\n    \"areaName\": \"East Suffolk\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000011\",\n    \"areaName\": \"East Sussex\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000030\",\n    \"areaName\": \"Eden\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000207\",\n    \"areaName\": \"Elmbridge\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000010\",\n    \"areaName\": \"Enfield\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E92000001\",\n    \"areaName\": \"England\",\n    \"areaType\": \"nation\"\n  },\n  {\n    \"areaCode\": \"E07000072\",\n    \"areaName\": \"Epping Forest\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000208\",\n    \"areaName\": \"Epsom and Ewell\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000036\",\n    \"areaName\": \"Erewash\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000012\",\n    \"areaName\": \"Essex\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000041\",\n    \"areaName\": \"Exeter\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000014\",\n    \"areaName\": \"Falkirk\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000087\",\n    \"areaName\": \"Fareham\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000010\",\n    \"areaName\": \"Fenland\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"N09000006\",\n    \"areaName\": \"Fermanagh and Omagh\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000047\",\n    \"areaName\": \"Fife\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000005\",\n    \"areaName\": \"Flintshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000112\",\n    \"areaName\": \"Folkestone and Hythe\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000080\",\n    \"areaName\": \"Forest of Dean\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000119\",\n    \"areaName\": \"Fylde\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000037\",\n    \"areaName\": \"Gateshead\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000173\",\n    \"areaName\": \"Gedling\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000049\",\n    \"areaName\": \"Glasgow City\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000081\",\n    \"areaName\": \"Gloucester\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000013\",\n    \"areaName\": \"Gloucestershire\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000088\",\n    \"areaName\": \"Gosport\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000109\",\n    \"areaName\": \"Gravesham\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000145\",\n    \"areaName\": \"Great Yarmouth\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000011\",\n    \"areaName\": \"Greenwich\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000209\",\n    \"areaName\": \"Guildford\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000002\",\n    \"areaName\": \"Gwynedd\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000012\",\n    \"areaName\": \"Hackney and City of London\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000006\",\n    \"areaName\": \"Halton\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000164\",\n    \"areaName\": \"Hambleton\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000013\",\n    \"areaName\": \"Hammersmith and Fulham\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000014\",\n    \"areaName\": \"Hampshire\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000131\",\n    \"areaName\": \"Harborough\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000014\",\n    \"areaName\": \"Haringey\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000073\",\n    \"areaName\": \"Harlow\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000165\",\n    \"areaName\": \"Harrogate\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000015\",\n    \"areaName\": \"Harrow\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000089\",\n    \"areaName\": \"Hart\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000001\",\n    \"areaName\": \"Hartlepool\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000062\",\n    \"areaName\": \"Hastings\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000090\",\n    \"areaName\": \"Havant\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000016\",\n    \"areaName\": \"Havering\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000019\",\n    \"areaName\": \"Herefordshire, County of\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000015\",\n    \"areaName\": \"Hertfordshire\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000098\",\n    \"areaName\": \"Hertsmere\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000017\",\n    \"areaName\": \"Highland\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000037\",\n    \"areaName\": \"High Peak\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000017\",\n    \"areaName\": \"Hillingdon\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000132\",\n    \"areaName\": \"Hinckley and Bosworth\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000227\",\n    \"areaName\": \"Horsham\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000018\",\n    \"areaName\": \"Hounslow\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000011\",\n    \"areaName\": \"Huntingdonshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000120\",\n    \"areaName\": \"Hyndburn\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000018\",\n    \"areaName\": \"Inverclyde\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000202\",\n    \"areaName\": \"Ipswich\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000001\",\n    \"areaName\": \"Isle of Anglesey\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000046\",\n    \"areaName\": \"Isle of Wight\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000053\",\n    \"areaName\": \"Isles of Scilly\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000019\",\n    \"areaName\": \"Islington\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000020\",\n    \"areaName\": \"Kensington and Chelsea\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000016\",\n    \"areaName\": \"Kent\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000153\",\n    \"areaName\": \"Kettering\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000146\",\n    \"areaName\": \"King's Lynn and West Norfolk\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000010\",\n    \"areaName\": \"Kingston upon Hull, City of\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000021\",\n    \"areaName\": \"Kingston upon Thames\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000034\",\n    \"areaName\": \"Kirklees\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000011\",\n    \"areaName\": \"Knowsley\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000022\",\n    \"areaName\": \"Lambeth\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000017\",\n    \"areaName\": \"Lancashire\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000121\",\n    \"areaName\": \"Lancaster\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000035\",\n    \"areaName\": \"Leeds\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000016\",\n    \"areaName\": \"Leicester\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000018\",\n    \"areaName\": \"Leicestershire\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000063\",\n    \"areaName\": \"Lewes\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000023\",\n    \"areaName\": \"Lewisham\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000194\",\n    \"areaName\": \"Lichfield\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000138\",\n    \"areaName\": \"Lincoln\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000019\",\n    \"areaName\": \"Lincolnshire\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"N09000007\",\n    \"areaName\": \"Lisburn and Castlereagh\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000012\",\n    \"areaName\": \"Liverpool\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E12000007\",\n    \"areaName\": \"London\",\n    \"areaType\": \"region\"\n  },\n  {\n    \"areaCode\": \"E06000032\",\n    \"areaName\": \"Luton\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000110\",\n    \"areaName\": \"Maidstone\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000074\",\n    \"areaName\": \"Maldon\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000235\",\n    \"areaName\": \"Malvern Hills\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000003\",\n    \"areaName\": \"Manchester\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000174\",\n    \"areaName\": \"Mansfield\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000035\",\n    \"areaName\": \"Medway\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000133\",\n    \"areaName\": \"Melton\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000187\",\n    \"areaName\": \"Mendip\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000024\",\n    \"areaName\": \"Merthyr Tydfil\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000024\",\n    \"areaName\": \"Merton\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"N09000008\",\n    \"areaName\": \"Mid and East Antrim\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000042\",\n    \"areaName\": \"Mid Devon\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000002\",\n    \"areaName\": \"Middlesbrough\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000019\",\n    \"areaName\": \"Midlothian\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000203\",\n    \"areaName\": \"Mid Suffolk\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000228\",\n    \"areaName\": \"Mid Sussex\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"N09000009\",\n    \"areaName\": \"Mid Ulster\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000042\",\n    \"areaName\": \"Milton Keynes\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000210\",\n    \"areaName\": \"Mole Valley\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000021\",\n    \"areaName\": \"Monmouthshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000020\",\n    \"areaName\": \"Moray\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000013\",\n    \"areaName\": \"Na h-Eileanan Siar\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"W06000012\",\n    \"areaName\": \"Neath Port Talbot\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000175\",\n    \"areaName\": \"Newark and Sherwood\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000195\",\n    \"areaName\": \"Newcastle-under-Lyme\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000021\",\n    \"areaName\": \"Newcastle upon Tyne\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000091\",\n    \"areaName\": \"New Forest\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000025\",\n    \"areaName\": \"Newham\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000022\",\n    \"areaName\": \"Newport\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"N09000010\",\n    \"areaName\": \"Newry, Mourne and Down\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000020\",\n    \"areaName\": \"Norfolk\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000154\",\n    \"areaName\": \"Northampton\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000021\",\n    \"areaName\": \"Northamptonshire\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"S12000021\",\n    \"areaName\": \"North Ayrshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000043\",\n    \"areaName\": \"North Devon\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E12000001\",\n    \"areaName\": \"North East\",\n    \"areaType\": \"region\"\n  },\n  {\n    \"areaCode\": \"E07000038\",\n    \"areaName\": \"North East Derbyshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000012\",\n    \"areaName\": \"North East Lincolnshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"N92000002\",\n    \"areaName\": \"Northern Ireland\",\n    \"areaType\": \"nation\"\n  },\n  {\n    \"areaCode\": \"E07000099\",\n    \"areaName\": \"North Hertfordshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000139\",\n    \"areaName\": \"North Kesteven\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000050\",\n    \"areaName\": \"North Lanarkshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000013\",\n    \"areaName\": \"North Lincolnshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000147\",\n    \"areaName\": \"North Norfolk\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000024\",\n    \"areaName\": \"North Somerset\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000022\",\n    \"areaName\": \"North Tyneside\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000057\",\n    \"areaName\": \"Northumberland\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000218\",\n    \"areaName\": \"North Warwickshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E12000002\",\n    \"areaName\": \"North West\",\n    \"areaType\": \"region\"\n  },\n  {\n    \"areaCode\": \"E07000134\",\n    \"areaName\": \"North West Leicestershire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000023\",\n    \"areaName\": \"North Yorkshire\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000148\",\n    \"areaName\": \"Norwich\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000018\",\n    \"areaName\": \"Nottingham\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000024\",\n    \"areaName\": \"Nottinghamshire\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000219\",\n    \"areaName\": \"Nuneaton and Bedworth\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000135\",\n    \"areaName\": \"Oadby and Wigston\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000004\",\n    \"areaName\": \"Oldham\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000023\",\n    \"areaName\": \"Orkney Islands\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000178\",\n    \"areaName\": \"Oxford\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000025\",\n    \"areaName\": \"Oxfordshire\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"W06000009\",\n    \"areaName\": \"Pembrokeshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000122\",\n    \"areaName\": \"Pendle\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000048\",\n    \"areaName\": \"Perth and Kinross\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000031\",\n    \"areaName\": \"Peterborough\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000026\",\n    \"areaName\": \"Plymouth\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000044\",\n    \"areaName\": \"Portsmouth\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000023\",\n    \"areaName\": \"Powys\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000123\",\n    \"areaName\": \"Preston\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000038\",\n    \"areaName\": \"Reading\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000026\",\n    \"areaName\": \"Redbridge\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000003\",\n    \"areaName\": \"Redcar and Cleveland\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000236\",\n    \"areaName\": \"Redditch\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000211\",\n    \"areaName\": \"Reigate and Banstead\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000038\",\n    \"areaName\": \"Renfrewshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000016\",\n    \"areaName\": \"Rhondda Cynon Taf\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000124\",\n    \"areaName\": \"Ribble Valley\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000166\",\n    \"areaName\": \"Richmondshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000027\",\n    \"areaName\": \"Richmond upon Thames\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000005\",\n    \"areaName\": \"Rochdale\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000075\",\n    \"areaName\": \"Rochford\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000125\",\n    \"areaName\": \"Rossendale\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000064\",\n    \"areaName\": \"Rother\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000018\",\n    \"areaName\": \"Rotherham\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000220\",\n    \"areaName\": \"Rugby\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000212\",\n    \"areaName\": \"Runnymede\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000176\",\n    \"areaName\": \"Rushcliffe\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000092\",\n    \"areaName\": \"Rushmoor\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000017\",\n    \"areaName\": \"Rutland\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000167\",\n    \"areaName\": \"Ryedale\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000006\",\n    \"areaName\": \"Salford\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000028\",\n    \"areaName\": \"Sandwell\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000168\",\n    \"areaName\": \"Scarborough\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S92000003\",\n    \"areaName\": \"Scotland\",\n    \"areaType\": \"nation\"\n  },\n  {\n    \"areaCode\": \"S12000026\",\n    \"areaName\": \"Scottish Borders\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000188\",\n    \"areaName\": \"Sedgemoor\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000014\",\n    \"areaName\": \"Sefton\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000169\",\n    \"areaName\": \"Selby\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000111\",\n    \"areaName\": \"Sevenoaks\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000019\",\n    \"areaName\": \"Sheffield\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000027\",\n    \"areaName\": \"Shetland Islands\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000051\",\n    \"areaName\": \"Shropshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000039\",\n    \"areaName\": \"Slough\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000029\",\n    \"areaName\": \"Solihull\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000027\",\n    \"areaName\": \"Somerset\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000246\",\n    \"areaName\": \"Somerset West and Taunton\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000045\",\n    \"areaName\": \"Southampton\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000028\",\n    \"areaName\": \"South Ayrshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000006\",\n    \"areaName\": \"South Bucks\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000012\",\n    \"areaName\": \"South Cambridgeshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000039\",\n    \"areaName\": \"South Derbyshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E12000008\",\n    \"areaName\": \"South East\",\n    \"areaType\": \"region\"\n  },\n  {\n    \"areaCode\": \"E06000033\",\n    \"areaName\": \"Southend-on-Sea\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000025\",\n    \"areaName\": \"South Gloucestershire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000044\",\n    \"areaName\": \"South Hams\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000140\",\n    \"areaName\": \"South Holland\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000141\",\n    \"areaName\": \"South Kesteven\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000031\",\n    \"areaName\": \"South Lakeland\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000029\",\n    \"areaName\": \"South Lanarkshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000149\",\n    \"areaName\": \"South Norfolk\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000155\",\n    \"areaName\": \"South Northamptonshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000179\",\n    \"areaName\": \"South Oxfordshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000126\",\n    \"areaName\": \"South Ribble\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000189\",\n    \"areaName\": \"South Somerset\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000196\",\n    \"areaName\": \"South Staffordshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000023\",\n    \"areaName\": \"South Tyneside\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000028\",\n    \"areaName\": \"Southwark\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E12000009\",\n    \"areaName\": \"South West\",\n    \"areaType\": \"region\"\n  },\n  {\n    \"areaCode\": \"E07000213\",\n    \"areaName\": \"Spelthorne\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000197\",\n    \"areaName\": \"Stafford\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000028\",\n    \"areaName\": \"Staffordshire\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000198\",\n    \"areaName\": \"Staffordshire Moorlands\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000240\",\n    \"areaName\": \"St Albans\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000243\",\n    \"areaName\": \"Stevenage\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000013\",\n    \"areaName\": \"St. Helens\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000030\",\n    \"areaName\": \"Stirling\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000007\",\n    \"areaName\": \"Stockport\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000004\",\n    \"areaName\": \"Stockton-on-Tees\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000021\",\n    \"areaName\": \"Stoke-on-Trent\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000221\",\n    \"areaName\": \"Stratford-on-Avon\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000082\",\n    \"areaName\": \"Stroud\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000029\",\n    \"areaName\": \"Suffolk\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E08000024\",\n    \"areaName\": \"Sunderland\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000030\",\n    \"areaName\": \"Surrey\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000214\",\n    \"areaName\": \"Surrey Heath\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000029\",\n    \"areaName\": \"Sutton\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000113\",\n    \"areaName\": \"Swale\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000011\",\n    \"areaName\": \"Swansea\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000030\",\n    \"areaName\": \"Swindon\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000008\",\n    \"areaName\": \"Tameside\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000199\",\n    \"areaName\": \"Tamworth\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000215\",\n    \"areaName\": \"Tandridge\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000045\",\n    \"areaName\": \"Teignbridge\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000020\",\n    \"areaName\": \"Telford and Wrekin\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000076\",\n    \"areaName\": \"Tendring\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000093\",\n    \"areaName\": \"Test Valley\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000083\",\n    \"areaName\": \"Tewkesbury\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000114\",\n    \"areaName\": \"Thanet\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000102\",\n    \"areaName\": \"Three Rivers\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000034\",\n    \"areaName\": \"Thurrock\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000115\",\n    \"areaName\": \"Tonbridge and Malling\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000027\",\n    \"areaName\": \"Torbay\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000020\",\n    \"areaName\": \"Torfaen\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000046\",\n    \"areaName\": \"Torridge\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000030\",\n    \"areaName\": \"Tower Hamlets\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000009\",\n    \"areaName\": \"Trafford\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000116\",\n    \"areaName\": \"Tunbridge Wells\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"K02000001\",\n    \"areaName\": \"United Kingdom\",\n    \"areaType\": \"overview\"\n  },\n  {\n    \"areaCode\": \"E07000077\",\n    \"areaName\": \"Uttlesford\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000014\",\n    \"areaName\": \"Vale of Glamorgan\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000180\",\n    \"areaName\": \"Vale of White Horse\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000036\",\n    \"areaName\": \"Wakefield\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W92000004\",\n    \"areaName\": \"Wales\",\n    \"areaType\": \"nation\"\n  },\n  {\n    \"areaCode\": \"E08000030\",\n    \"areaName\": \"Walsall\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000031\",\n    \"areaName\": \"Waltham Forest\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E09000032\",\n    \"areaName\": \"Wandsworth\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000007\",\n    \"areaName\": \"Warrington\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000222\",\n    \"areaName\": \"Warwick\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000031\",\n    \"areaName\": \"Warwickshire\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000103\",\n    \"areaName\": \"Watford\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000216\",\n    \"areaName\": \"Waverley\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000065\",\n    \"areaName\": \"Wealden\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000156\",\n    \"areaName\": \"Wellingborough\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000241\",\n    \"areaName\": \"Welwyn Hatfield\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000037\",\n    \"areaName\": \"West Berkshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000047\",\n    \"areaName\": \"West Devon\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000039\",\n    \"areaName\": \"West Dunbartonshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000127\",\n    \"areaName\": \"West Lancashire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000142\",\n    \"areaName\": \"West Lindsey\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"S12000040\",\n    \"areaName\": \"West Lothian\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E12000005\",\n    \"areaName\": \"West Midlands\",\n    \"areaType\": \"region\"\n  },\n  {\n    \"areaCode\": \"E09000033\",\n    \"areaName\": \"Westminster\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000062\",\n    \"areaName\": \"West Northamptonshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000181\",\n    \"areaName\": \"West Oxfordshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000245\",\n    \"areaName\": \"West Suffolk\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000032\",\n    \"areaName\": \"West Sussex\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E08000010\",\n    \"areaName\": \"Wigan\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000054\",\n    \"areaName\": \"Wiltshire\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000094\",\n    \"areaName\": \"Winchester\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000040\",\n    \"areaName\": \"Windsor and Maidenhead\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000015\",\n    \"areaName\": \"Wirral\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000217\",\n    \"areaName\": \"Woking\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000041\",\n    \"areaName\": \"Wokingham\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E08000031\",\n    \"areaName\": \"Wolverhampton\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000237\",\n    \"areaName\": \"Worcester\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E10000034\",\n    \"areaName\": \"Worcestershire\",\n    \"areaType\": \"utla\"\n  },\n  {\n    \"areaCode\": \"E07000229\",\n    \"areaName\": \"Worthing\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"W06000006\",\n    \"areaName\": \"Wrexham\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000238\",\n    \"areaName\": \"Wychavon\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000007\",\n    \"areaName\": \"Wycombe\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000128\",\n    \"areaName\": \"Wyre\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E07000239\",\n    \"areaName\": \"Wyre Forest\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E06000014\",\n    \"areaName\": \"York\",\n    \"areaType\": \"ltla\"\n  },\n  {\n    \"areaCode\": \"E12000003\",\n    \"areaName\": \"Yorkshire and The Humber\",\n    \"areaType\": \"region\"\n  }\n]"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Reason provided in response body where possible."
          },
          "404": {
            "description": "Not found. Likely due to an invalid category (page name)."
          },
          "429": {
            "description": "Too many requests - request has been throttled.",
            "headers": {
              "retry-after": {
                "description": "Time in seconds to wait before resubmitting the request.",
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/page_areas/{page}/{area_type}": {
      "get": {
        "summary": "Page areas with type",
        "description": "Given a category (page name) / area type combination, returns all areas available for that category under the given area type.",
        "operationId": "page-areas-with-type",
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "description": "Category of the page whose areas are being requested.",
            "required": true,
            "schema": {
              "enum": [
                "cases",
                "testing",
                "deaths",
                "vaccinations",
                "healthcare"
              ],
              "type": "string"
            }
          },
          {
            "name": "area_type",
            "in": "path",
            "description": "Type of the area by which to filter the areas associated with the given category.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Accept-Encoding",
            "in": "header",
            "schema": {
              "enum": [
                "deflate",
                "gzip",
                "br"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all areas for the specified category / area type combination.",
            "headers": {
              "content-type": {
                "required": true,
                "schema": {
                  "enum": [
                    "application/vnd.PHE-COVID19.v1+json; charset=utf-8"
                  ],
                  "type": "string"
                }
              },
              "server": {
                "required": true,
                "description": "Server application name and version.",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "required": true,
                "description": "",
                "schema": {
                  "type": "string"
                }
              },
              "x-frame-options": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-content-type-options": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-xss-protection": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "referrer-policy": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "content-security-policy": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-phe-media-type": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "phe-server-loc": {
                "required": false,
                "description": "Identifier for the specific server responding to the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Request-Context": {
                "required": true,
                "description": "Correlation ID of the request.",
                "schema": {
                  "type": "string"
                }
              },
              "phe-website-request": {
                "required": true,
                "description": "Identifier to determine whether the request originates from the website.",
                "schema": {
                  "type": "number"
                }
              }
            },
            "content": {
              "application/json": {
                "examples": {
                  "Nation response for cases": {
                    "value": "[\n  {\n    \"areaCode\": \"E92000001\",\n    \"areaName\": \"England\",\n    \"areaType\": \"nation\"\n  },\n  {\n    \"areaCode\": \"N92000002\",\n    \"areaName\": \"Northern Ireland\",\n    \"areaType\": \"nation\"\n  },\n  {\n    \"areaCode\": \"S92000003\",\n    \"areaName\": \"Scotland\",\n    \"areaType\": \"nation\"\n  },\n  {\n    \"areaCode\": \"W92000004\",\n    \"areaName\": \"Wales\",\n    \"areaType\": \"nation\"\n  }\n]"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Reason provided in response body where possible."
          },
          "404": {
            "description": "Not found. Likely due to an invalid category and / or area type."
          },
          "429": {
            "description": "Too many requests - request has been throttled.",
            "headers": {
              "retry-after": {
                "description": "Time in seconds to wait before resubmitting the request.",
                "required": true,
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/metric_availability/{area_type}/{area_code}": {
      "get": {
        "summary": "Metric availability by area",
        "operationId": "metric-availability-by-area",
        "parameters": [
          {
            "name": "area_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "nation",
                "region",
                "utla",
                "ltla",
                "msoa",
                "postcode",
                "nhsRegion",
                "nhsTrust"
              ]
            }
          },
          {
            "name": "area_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "description": "Date in YYYY-MM-DD format",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "content-type": {
                "required": true,
                "schema": {
                  "enum": [
                    "application/vnd.PHE-COVID19.v1+json; charset=utf-8"
                  ],
                  "type": "string"
                }
              },
              "server": {
                "required": true,
                "description": "Server application name and version.",
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "required": true,
                "description": "",
                "schema": {
                  "type": "string"
                }
              },
              "x-frame-options": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-content-type-options": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-xss-protection": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "referrer-policy": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "content-security-policy": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "x-phe-media-type": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "phe-server-loc": {
                "required": false,
                "description": "Identifier for the specific server responding to the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Request-Context": {
                "required": true,
                "description": "Correlation ID of the request.",
                "schema": {
                  "type": "string"
                }
              },
              "phe-website-request": {
                "required": true,
                "description": "Identifier to determine whether the request originates from the website.",
                "schema": {
                  "type": "number"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metrics"
                },
                "examples": {
                  "Response for Nation England": {
                    "value": "[\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"changeInNewCasesBySpecimenDate\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"covidOccupiedMVBeds\"\n  },\n  {\n    \"last_update\": \"2021-08-14\",\n    \"metric\": \"cumAdmissions\"\n  },\n  {\n    \"last_update\": \"2021-08-14\",\n    \"metric\": \"cumAdmissionsByAge\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumAntibodyTestsByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"cumCasesByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"cumCasesByPublishDateRate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumCasesBySpecimenDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumCasesBySpecimenDateRate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumCasesLFDConfirmedPCRBySpecimenDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumCasesLFDOnlyBySpecimenDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumCasesPCROnlyBySpecimenDate\"\n  },\n  {\n    \"last_update\": \"2021-07-30\",\n    \"metric\": \"cumDailyNsoDeathsByDeathDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumDeaths28DaysByDeathDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumDeaths28DaysByDeathDateRate\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"cumDeaths28DaysByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"cumDeaths28DaysByPublishDateRate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumDeaths60DaysByDeathDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumDeaths60DaysByDeathDateRate\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"cumDeaths60DaysByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"cumDeaths60DaysByPublishDateRate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumLFDTests\"\n  },\n  {\n    \"last_update\": \"2021-07-30\",\n    \"metric\": \"cumOnsDeathsByRegistrationDate\"\n  },\n  {\n    \"last_update\": \"2021-07-30\",\n    \"metric\": \"cumOnsDeathsByRegistrationDateRate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumPCRTestsByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumPeopleVaccinatedCompleteByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumPeopleVaccinatedCompleteByVaccinationDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumPeopleVaccinatedFirstDoseByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumPeopleVaccinatedFirstDoseByVaccinationDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumPeopleVaccinatedSecondDoseByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumPeopleVaccinatedSecondDoseByVaccinationDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumPillarOneTestsByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumPillarOneTwoTestsByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumPillarThreeTestsByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumPillarTwoTestsByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumTestsByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumVaccinationCompleteCoverageByPublishDatePercentage\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumVaccinationCompleteCoverageByVaccinationDatePercentage\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumVaccinationFirstDoseUptakeByPublishDatePercentage\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumVaccinationFirstDoseUptakeByVaccinationDatePercentage\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumVaccinationSecondDoseUptakeByPublishDatePercentage\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumVaccinationSecondDoseUptakeByVaccinationDatePercentage\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumVaccinesGivenByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"cumVirusTests\"\n  },\n  {\n    \"last_update\": \"2021-07-30\",\n    \"metric\": \"cumWeeklyNsoDeathsByRegDate\"\n  },\n  {\n    \"last_update\": \"2021-07-30\",\n    \"metric\": \"cumWeeklyNsoDeathsByRegDateRate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"femaleCases\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"femaleDeaths28Days\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"hospitalCases\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"maleCases\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"maleDeaths28Days\"\n  },\n  {\n    \"last_update\": \"2021-08-14\",\n    \"metric\": \"newAdmissions\"\n  },\n  {\n    \"last_update\": \"2021-08-14\",\n    \"metric\": \"newAdmissionsChange\"\n  },\n  {\n    \"last_update\": \"2021-08-14\",\n    \"metric\": \"newAdmissionsChangePercentage\"\n  },\n  {\n    \"last_update\": \"2021-08-14\",\n    \"metric\": \"newAdmissionsDirection\"\n  },\n  {\n    \"last_update\": \"2021-08-14\",\n    \"metric\": \"newAdmissionsRollingRate\"\n  },\n  {\n    \"last_update\": \"2021-08-14\",\n    \"metric\": \"newAdmissionsRollingSum\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newAntibodyTestsByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"newCasesByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"newCasesByPublishDateChange\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"newCasesByPublishDateChangePercentage\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"newCasesByPublishDateDirection\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"newCasesByPublishDateRollingRate\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"newCasesByPublishDateRollingSum\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newCasesBySpecimenDate\"\n  },\n  {\n    \"last_update\": \"2021-08-11\",\n    \"metric\": \"newCasesBySpecimenDateAgeDemographics\"\n  },\n  {\n    \"last_update\": \"2021-08-11\",\n    \"metric\": \"newCasesBySpecimenDateChange\"\n  },\n  {\n    \"last_update\": \"2021-08-11\",\n    \"metric\": \"newCasesBySpecimenDateChangePercentage\"\n  },\n  {\n    \"last_update\": \"2021-08-11\",\n    \"metric\": \"newCasesBySpecimenDateDirection\"\n  },\n  {\n    \"last_update\": \"2021-08-11\",\n    \"metric\": \"newCasesBySpecimenDateRollingRate\"\n  },\n  {\n    \"last_update\": \"2021-08-11\",\n    \"metric\": \"newCasesBySpecimenDateRollingSum\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newCasesLFDConfirmedPCRBySpecimenDate\"\n  },\n  {\n    \"last_update\": \"2021-08-11\",\n    \"metric\": \"newCasesLFDConfirmedPCRBySpecimenDateRollingRate\"\n  },\n  {\n    \"last_update\": \"2021-08-11\",\n    \"metric\": \"newCasesLFDConfirmedPCRBySpecimenDateRollingSum\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newCasesLFDOnlyBySpecimenDate\"\n  },\n  {\n    \"last_update\": \"2021-08-11\",\n    \"metric\": \"newCasesLFDOnlyBySpecimenDateRollingRate\"\n  },\n  {\n    \"last_update\": \"2021-08-11\",\n    \"metric\": \"newCasesLFDOnlyBySpecimenDateRollingSum\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newCasesPCROnlyBySpecimenDate\"\n  },\n  {\n    \"last_update\": \"2021-08-11\",\n    \"metric\": \"newCasesPCROnlyBySpecimenDateRollingRate\"\n  },\n  {\n    \"last_update\": \"2021-08-11\",\n    \"metric\": \"newCasesPCROnlyBySpecimenDateRollingSum\"\n  },\n  {\n    \"last_update\": \"2021-07-30\",\n    \"metric\": \"newDailyNsoDeathsByDeathDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newDeaths28DaysByDeathDate\"\n  },\n  {\n    \"last_update\": \"2021-08-11\",\n    \"metric\": \"newDeaths28DaysByDeathDateAgeDemographics\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newDeaths28DaysByDeathDateRate\"\n  },\n  {\n    \"last_update\": \"2021-08-11\",\n    \"metric\": \"newDeaths28DaysByDeathDateRollingRate\"\n  },\n  {\n    \"last_update\": \"2021-08-11\",\n    \"metric\": \"newDeaths28DaysByDeathDateRollingSum\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"newDeaths28DaysByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"newDeaths28DaysByPublishDateChange\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"newDeaths28DaysByPublishDateChangePercentage\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"newDeaths28DaysByPublishDateDirection\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"newDeaths28DaysByPublishDateRollingSum\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newDeaths60DaysByDeathDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newDeaths60DaysByDeathDateRate\"\n  },\n  {\n    \"last_update\": \"2021-08-11\",\n    \"metric\": \"newDeaths60DaysByDeathDateRollingRate\"\n  },\n  {\n    \"last_update\": \"2021-08-11\",\n    \"metric\": \"newDeaths60DaysByDeathDateRollingSum\"\n  },\n  {\n    \"last_update\": \"2021-08-16\",\n    \"metric\": \"newDeaths60DaysByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newLFDTests\"\n  },\n  {\n    \"last_update\": \"2021-07-30\",\n    \"metric\": \"newOnsDeathsByRegistrationDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newPCRTestsByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newPCRTestsByPublishDateChange\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newPCRTestsByPublishDateChangePercentage\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newPCRTestsByPublishDateDirection\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newPCRTestsByPublishDateRollingSum\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newPeopleVaccinatedCompleteByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newPeopleVaccinatedCompleteByVaccinationDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newPeopleVaccinatedFirstDoseByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newPeopleVaccinatedFirstDoseByVaccinationDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newPeopleVaccinatedSecondDoseByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newPeopleVaccinatedSecondDoseByVaccinationDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newPillarOneTestsByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newPillarOneTwoTestsByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newPillarThreeTestsByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newPillarTwoTestsByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newTestsByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newVaccinesGivenByPublishDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newVirusTests\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newVirusTestsChange\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newVirusTestsChangePercentage\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newVirusTestsDirection\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"newVirusTestsRollingSum\"\n  },\n  {\n    \"last_update\": \"2021-07-30\",\n    \"metric\": \"newWeeklyNsoDeathsByRegDate\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"previouslyReportedNewCasesBySpecimenDate\"\n  },\n  {\n    \"last_update\": \"2021-08-13\",\n    \"metric\": \"transmissionRateGrowthRateMax\"\n  },\n  {\n    \"last_update\": \"2021-08-13\",\n    \"metric\": \"transmissionRateGrowthRateMin\"\n  },\n  {\n    \"last_update\": \"2021-08-13\",\n    \"metric\": \"transmissionRateMax\"\n  },\n  {\n    \"last_update\": \"2021-08-13\",\n    \"metric\": \"transmissionRateMin\"\n  },\n  {\n    \"last_update\": \"2021-08-10\",\n    \"metric\": \"uniqueCasePositivityBySpecimenDateRollingSum\"\n  },\n  {\n    \"last_update\": \"2021-08-10\",\n    \"metric\": \"uniquePeopleTestedBySpecimenDateRollingSum\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"vaccinationsAgeDemographics\"\n  },\n  {\n    \"last_update\": \"2021-08-15\",\n    \"metric\": \"VaccineRegisterPopulationByVaccinationD
[...]
