name: Tests
on:
  push:
    branches:
      - development
      - master
      - tests

  pull_request:
    branches:
      - development
      - master
      - tests

jobs:
  runner-job:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout repository
        uses: actions/checkout@master
        with:
          ref: ${{ github.ref }}

      - name: Run migrations
        run: |
          psql -f testing/fixtures/init.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/citus_covid19_page.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/citus_covid19_tag.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/citus_covid19_area_priorities.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/citus_covid19_area_reference.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/citus_covid19_metric_reference.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/citus_covid19_release_reference.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/citus_covid19_release_category.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/partitions.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/time_series_p2021_3_5_msoa.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/time_series_p2021_3_5_utla.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/citus_covid19_announcement.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/citus_covid19_change_log.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/citus_covid19_change_log_to_metric.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/citus_covid19_change_log_to_page.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/citus_covid19_metric_asset.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/citus_covid19_metric_asset_to_metric.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/citus_covid19_metric_tag.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/citus_covid19_area_relation.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/citus_covid19_page_area_type_reference.sql postgresql://postgres:postgres@localhost:5432/postgres && \
          psql -f testing/fixtures/postcode_lookup.sql postgresql://postgres:postgres@localhost:5432/postgres

      - name: Check out repository code
        uses: docker/nginx%2Funit@1.23.0-go1.15

      - name: Install dependencies
        working-directory: service
        shell: bash
        run: go get

      - working-directory: service
        shell: bash
        run: mkdir build

      - name: Run build test
        shell: bash
        working-directory: service
        run: go build -o /opt/build/generic_api

      - name: Run application tests
        shell: bash
        working-directory: service
        run: go test -v ./...
        env:
          POSTGRES_CONNECTION_STRING: postgres://postgres:postgres@localhost/postgres
          DeploymentBlobStorage: ""
